{% extends "@App/adminLayout.html.twig" %}

{% block title %}
    {{ parent() }} - Confirmation du {{ terme }} de l'utilisateur
{% endblock %}

{% block StockHG3body %}
    <h1>Confirmation du {{ terme }} de l'utilisateur</h1>
    <div class="conteneur">
        {% for message in app.session.flashbag.get('message') %}
            {{ message | raw }}
        {% endfor %}
        <div class="formulaire">
            {{ form_start(form, {"attr": {"class": "form-horizontal"}}) }}
            {{ form_errors(form) }}

            {{ form_label(form.motDePasse, "Veuillez confirmer votre décision:") }}
            {{ form_widget(form.motDePasse) }}
            {{ form_row(form.motDePasse) }}

            <div class="submit">
                {{ form_widget(form.envoyer) }}
            </div>

            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}