{% extends "@App/exerciceGroupeLayout.html.twig" %}

{% block Exercice %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
            
    {% for reponseUtilisateur in form.reponseUtilisateur %}
        <div class="bloc-association">
            <div class="premiere-proposition-association">
                {% if reponseUtilisateur.vars.data.question.ressources is not empty %}
                    {{ ressourceService.createRessource(reponseUtilisateur.vars.data.question, true) | raw }}
                {% else %}
                    {{ form_label(reponseUtilisateur.reponseAssoc, reponseUtilisateur.vars.data.question.corps | raw | striptags ) }}
                {% endif %}
            </div>
            {{ form_widget(reponseUtilisateur) }}
            {{ form_row(reponseUtilisateur) }}
            
        </div>
    {% endfor %}
    
    <br/>

    <div class="submit submit-exercice">
        {{ form_widget(form.envoyer) }}
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}